:root {
    --primary: rgb(245, 188, 102);
    --secondary: white;
    --text-color: rgb(75, 75, 75);
    --header-color: orange;
    --tag-fontsize: 30px;
    --text-fontsize: 15px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: var(--header-color);
    color: var(--text-color);
}

h1{
    font-size: 200%;
}

h2 {
    font-size: var(--tag-fontsize);
}

.overlay-header {
    height: 400px;
    width: auto;
    background: black;
    overflow: hidden;
}

.overlay-header img {
    height: 400px;
    width: auto;
    object-fit: cover;
    opacity: 0.5;
}

.banner-text {
    position: absolute;
    top: 80%;
    bottom: 20%;
    margin-left: 15px;
    color: white;
    font-size: 150%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style-type: none;
}

main {
    background-color: rgb(255, 218, 149);
}

.bio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.bio h2 {
    text-decoration: underline;
}

.bio img {
    position: relative;
    height: 250px;
    width: 250px;
    vertical-align: auto;
    margin: 3%;
}

.bio p {
    text-align: middle;
    position: relative;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects h2 {
    text-decoration: underline;
}

.projects ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.projects img {
    max-width: 30%;
    padding: 10px;
}

.contact {
    text-align: center;
    padding: 3%;
}

.contact h2 {
    text-decoration: underline;
}

.contact ul{
    list-style-type: none;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

.resume {
    display: block;
    text-align: center;
}

.resume h2 {
    text-decoration: underline;
}

.resume div {
    margin-bottom: 25px;
}

footer {
    display: block;
    background-color: var(--header-color);
    text-align: center;
}

footer h3 {
    font-size: 200%;
    font-weight: bolder;
    margin: 5px;
    margin-top: 20px;
}

footer div {
    font-size: 120%;
    margin: 5px;
}
/* things to do: create a hover effect for projects. work on projects layout. figure out how to wrap bio. fix banner to flex (add media queries) */